<ion-header>
  <ion-toolbar>
    <ion-title>Editar tarea</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-input
      label="Título"
      [(ngModel)]="editingTask">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Categoría"
      [(ngModel)]="editTaskCategoryId">

      <ion-select-option value="">
        Sin categoría
      </ion-select-option>

      <ion-select-option
        *ngFor="let category of categories$ | async"
        [value]="category.id">

        {{ category.name }}

      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="save()">

    Guardar cambios

  </ion-button>

</ion-content>
